/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Galindo&family=Prompt:wght@200;300;400;500&display=swap');

:root {
    font-size: 6.25%;
}

html, body {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #fdfce7;
    font-size: 16rem;
    height: 100%;
}

*, *::before, *::after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

/* -------- Gameboard -------- */

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100%;
    text-align: center;
    margin: auto;
    overflow: hidden !important;
}

.container h1 {
    font-family: 'Galindo', 'Prompt', sans-serif;
    text-shadow: 8px 5px 10px rgba(51, 51, 51, 0.3);
    font-size: 46rem;
    color: #f28705;
    text-transform: capitalize;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 4%;
}

.pText {
    font-family: 'Prompt', sans-serif;
    font-size: 36rem;
    font-weight: 400;
    color: #b9652d;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 18rem;
    text-align: justify;
    padding-left: 10%;
    padding-right: 10%;
}

.btn {
    margin: auto;
    padding: 14rem;
    font-family: 'Prompt', sans-serif;
    font-size: 26rem;
    font-weight: 300;
    text-align: center;
    color: #fff;
    background-color: #bd1fbf;
    border-radius: 8rem;
    cursor: pointer;
}

.btn:hover {
    -webkit-box-shadow: 15px 10px 12px rgba(51, 51, 51, 0.5);
            box-shadow: 15px 10px 12px rgba(51, 51, 51, 0.5);
    -webkit-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
    -webkit-transform : scaleX(1.2);
        -ms-transform : scaleX(1.2);
            transform : scaleX(1.2);
}

.score, .scoreText {
    font-family: 'Prompt', sans-serif;
    font-weight: 300;
    font-size: 32rem;
    color: #333;
    width: 40%;
    margin: auto;
    -ms-flex-item-align: start;
        align-self: flex-start;
}

.cubeImg {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}

/* -------- Animated Timer -------- */
/* -------- Credit: Mateusz Rybczonec & CSS-Tricks -------- */

#app {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-top: 6%;
}

.base-timer {
    position: relative;
    height: 160px;
    width: 160px;
}

.base-timer__circle {
    fill: none;
    stroke: none;
}

.base-timer__path-elapsed {
    stroke-width: 7px;
    stroke: rgb(99, 97, 97);
}

.base-timer__label {
  position: absolute;
  width: 160px;
  height: 160px;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 44rem;
}

/* -------- Timer & Color Animation -------- */

.base-timer__path-remaining {
    stroke-width: 7px;
    stroke-linecap: round;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-transform-origin: center;
        -ms-transform-origin: center;
            transform-origin: center;
    -webkit-transition: 1s linear all;
    -o-transition: 1s linear all;
    transition: 1s linear all;
    stroke: currentColor;
}

.base-timer__svg {
    -webkit-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
            transform: scaleX(-1);
}

.base-timer__path-remaining.green {
    color: #4fbf1b;
}

.base-timer__path-remaining.yellow {
    color: #f2e205;
}

.base-timer__path-remaining.red {
    color: #f21905;
}

/* -------- Modal -------- */

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-color: #fcfbee;
    padding: 10rem 10rem;
    width: 70%;
    height: 40%;
    border-radius: 10rem;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1.0);
        -ms-transform: scale(1.0);
            transform: scale(1.0);
}

.modal-content h1 {
    text-align: center;
    font-family: 'Galindo', sans-serif;
    text-shadow: 6px 3px 8px rgba(51, 51, 51, 0.3);
    font-weight: 300;
    font-size: 44rem;
    color: #f28705;
}

.closeButton {
    font-size: 30rem;
    color: #333;
    cursor: pointer;
}

.closeButton:hover {
    font-size: 40rem;
    -webkit-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
}

.userScore {
    text-align: center;
    font-family: 'Prompt', sans-serif;
    font-weight: 300;
    font-size: 32rem;
    color: #333;
    margin-bottom: 10rem;
}

.flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.restartGameBtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #bd1fbf;
    text-decoration: none;
    width: 100%;
    padding: 6%;
    color: #f5f5f5;
    margin-bottom: 16rem;
    border: none;
}

.restartGameBtn:hover {
    -webkit-box-shadow: 15px 10px 12px rgba(51, 51, 51, 0.5);
            box-shadow: 15px 10px 12px rgba(51, 51, 51, 0.5);;
    -webkit-transition: all 0.8s;;
    -o-transition: all 0.8s;;
    transition: all 0.8s;
    -webkit-transform : scaleX(1.2);
        -ms-transform : scaleX(1.2);
            transform : scaleX(1.2);
    border: none;
}

/* -------- Media Query -------- */

@media only screen and (max-width: 300px) {
    .container p {
         font-size: 18rem;
    }
}

@media only screen and (max-width: 440px) {
    .base-timer {
        height: 100px;
        width: 100px;
    }
    .base-timer__label {
        width: 100px;
        height: 100px;
        font-size: 38rem;
    }
    .container h1 {
         font-size: 38rem;
    }
    .pText {
        font-size: 20rem;
    }
    .score, .scoreText{
        font-size: 20rem;
    }
    .modal-content {
        width: 85%;
        height: 65%;
    }
    .modal-content h1 {
        font-size: 32rem;
    }
    .modal-content p {
        font-size: 24rem;
    }
}

@media only screen and (min-width: 31.25em) {
    .pText {
        font-size: 24rem;
    }
}

@media only screen and (max-width: 31.25em) {
    .modal-content {
        width: 85%;
        height: 50%;
    }
}

@media only screen and (min-width: 43.75em) {
    .container h1 {
         font-size: 58rem;
    }
    .pText {
        font-size: 30rem;
    }
    .modal-content p {
        font-size: 28rem;
    }
}

@media only screen and (min-width: 56.25em) {
    .container h1 {
         font-size: 68rem;
    }
     .modal-content h1 {
        font-size: 56rem;
        margin-top: 10%;
    }
    .pText {
        font-size: 36rem;
    }
}

@media only screen and (min-height: 42.50em) {
    .modal-content {
        width: 60%;
        height: 65%;
        }
}

@media only screen and (min-height: 45em) {
    .modal-content {
        width: 60%;
        height: 60%;
        }
}

@media only screen and (min-height: 62.5em) {
    .modal-content {
        width: 60%;
        height: 40%;
        }
}

 /** Below: to improve older browser versions of Safari,IE, Edge
 Credit: Indrek Paas, CodePen
 * 1. Apply rule to all browsers
 * 2. Override WebKit browsers, because Safari needs percentages to work
 * 3. Override IE/Edge, because Edge applies previous -webkit-calc() and 
 *    won't work with percentages
 */

 @media screen and (min-width: 80em) {
  html {
    font-size: calc(0.875em + 0.25 * (100vw - 80em) / 40); /* 1 */
    font-size: -webkit-calc(87.5% + 0.25 * (100vw - 8000%) / 40); /* 2 */
    font-size: -ms-calc(0.875em + 0.25 * (100vw - 80em) / 40); /* 3 */
  }
}

@media screen and (min-width: 120em) {
  html {
    font-size: 1.125em;
  }
}
